.slider {
	width: 100%;
	overflow: hidden;
	.slider-name {
		font-style: italic;
		font-weight: 400;
		font-family: 'Georgia', serif;
		text-align: center;
		margin: 45px 0;
	}
	@media (max-width: $mobile-mid-width) {
		margin-bottom: 60px;
	}
	&-wrap {
		position: relative;
		width: 100%;
	}
	.slider-items {
		display: flex;
		justify-content: flex-start;
		position: relative;
		max-width: 1350px;
		height: 120px;
		padding: 0;
		margin: 0;
		@media (max-width: $mobile-width) {
			height: 200px;
		}
		@media (max-width: $mobile-small-width) {
			height: 240px;
		}
		.slider-item {
			display: flex;
			width: 225px;
			justify-content: flex-start;
			padding: 0;
			list-style: none;
			.slide-img img {
				width: 225px;
				height: auto;
				/*750*/
				@media (max-width: $mobile-mid-width) {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	&-nav {
		position: absolute;
		width: 100%;
		top: 0;
		.slide-block {
			width: 40px;
			height: 120px;
			display: inline-block;
			background-color: #fff;
			position: absolute;
			opacity: 0.6;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			@media (max-width: $mobile-width) {
				height: 200px;
			}
			@media (max-width: $mobile-small-width) {
				height: 240px;
			}
			&-right {
				top: 0;
				right: 0;
				transition: 0.6s ease;
				.slider-arrow:after  {
						transform: rotate(45deg);
						top: -.24em;
						left: -.24em;
				}
			}
			&-left {
					top: 0;
					left: 0;
				.slider-arrow:after {
					transform: rotate(-135deg);
					top: -.24em;
					right: -.24em;
				}	
			}
		}
	}
	&-arrow {
		position: relative;
		width: 1.8em;
		height: 1em;
		box-sizing: border-box;
		&:after, &:before {
			content: "";
			position: absolute;
			border-width: .2em;
		}
		&:after {
			border-top-style: solid;
			border-right-style: solid;
			width: 1.3em;
			height: 1.3em;
		}
	}
}

