.slider-wrap
	ul.slider-items
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/1.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/2.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/3.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/4.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/5.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/6.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/3.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/4.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/5.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/6.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/1.jpg")
		li.slider-item
			a.slide-img(href="#")
				img(src="/assets/img/slides/2.jpg")
	nav.slider-nav
		a.slide-block.slide-block-left(aria-label="Previous")
			.slider-arrow
		a.slide-block.slide-block-right(aria-label="Next")
			.slider-arrow
							