$color-main: #F68236;
$color-main-dark: #dd7530;


$tablet-width: 1350px;
$tablet-mid-width: 1250px;
$tablet-small-width: 1024px;
$mobile-width: 960px;
$mobile-mid-width: 720px;
$mobile-small-width: 480px;


/* bag */
$color: #e5e5e5;
$color-1: #f9f9f9;
